@font-face {
  font-family: "hs";
  src: url("../src/common/fonts/HS.otf");
}
@font-face {
  font-family: "kyobo";
  src: url("../src/common/fonts/Kyobo.otf");
}
:root {
  --main-bg-color: #f2efe8;
  --gradient-bg-color: linear-gradient(
    180deg,
    rgba(97, 144, 232, 1) 0%,
    rgba(152, 185, 246, 1) 23%,
    rgba(197, 217, 253, 1) 44%,
    rgba(251, 238, 234, 1) 87%,
    rgba(251, 238, 234, 1) 87%,
    rgba(251, 238, 234, 1) 100%
  );
  --blue-color: #6190e8;
  --sky-color: #a7bfe8;

  --shadow-color: #202020;
  --document-bg-color: #68686850;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}
ul {
  margin: 0;
  list-style: none;
}
li {
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
h1 {
  margin: 0;
}
/*header*/
.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--gradient-bg-color);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  height: 15rem;
  font-family: "kyobo";
}
.header-title {
  margin-left: 5rem;
}
.title {
  font-size: 2.5rem;
  margin: 0;
}
.menu {
  display: flex;
}
.menu-item {
  cursor: pointer;
  margin-right: 2rem;
}
.icon {
  width: 2rem;
}
.custom-shape-divider-bottom {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 69px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom .shape-fill {
  fill: var(--main-bg-color);
}

/*main*/
.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--main-bg-color);
}
.main {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  overflow-x: hidden !important;
}

.note {
  font-family: "kyobo";
}
.note__title_container {
  display: flex;
}
.edit {
  width: 1.5rem;
  margin-left: 1rem;
}

.page {
  width: 100%;
  height: auto;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.page-item {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  padding: 1rem;
}
.page-item-index {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.day-container {
  display: flex;
  flex-direction: column;
  font-family: "kyobo";
}
.writing {
  margin-left: 3rem;
  align-self: start;
}
.day {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: end;
  overflow-x: auto;
  white-space: nowrap;
}
.day-item {
  display: flex;
  margin-right: 2rem;
}
.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.emoji,
.weather {
  width: 5rem;
}

.image__thumbnail {
  width: 10rem;
}

/*dialog*/
.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--document-bg-color);
  border: 0;
}
.dialog-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 25rem;
  background: var(--gradient-bg-color);
}

.dialog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.form-container {
  display: flex;
  align-items: center;
}

.select-list {
  display: flex;
  flex-wrap: wrap;
}
.select-item {
  display: flex;
  align-items: center;
  width: 20%;
  margin: 1rem 3rem;
}
.select-item__text {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.select-item {
  display: flex;
}
.select-item__image {
  width: 2rem;
}

.close {
  align-self: flex-end;
  color: var(--blue-color);
  padding: 0.2rem;
  font-size: 28px;
  font-weight: bold;
  margin: 3px;
  transition: color 250ms ease;
}
.close:hover,
.close:focus {
  transform: scale(1.5);
  color: var(--shadow-color);
  text-decoration: none;
}

#title,
#url,
#body {
  margin-top: 1rem;
  padding: 0.3rem;
}
.dialog-label {
  font-weight: bold;
  margin-right: 1rem;
}
.dialog-submit {
  text-align: center;
  padding: 0.5rem;
  margin: 2rem 0 0 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: var(--sky-color);
}

/*footer*/
.footer {
  width: 100%;
  padding: 2rem;
  text-align: center;
  color: var(--main-bg-color);
  background-color: #3f4756;
}
.instagram {
  text-decoration: none;
}
.instagram span {
  background: linear-gradient(to left, #4568dc, #b06ab3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 20rem) and (max-width: 48rem) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header-title {
    margin: 0;
  }
  .custom-shape-divider-bottom svg {
    height: 30px;
  }
  .menu {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .page {
    max-width: 100%;
  }
  .day {
    max-width: 100%;
  }
}

@media (min-width: 48rem) {
  .page {
    max-width: 100%;
  }
  .day {
    max-width: 100%;
  }
}
